# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

bin/
advert/advert
find/find
provider/provider
spaddr/spaddr
verifyingest/verifyingest

*~
*.car
